*,*:before,*:after{box-sizing:inherit;overflow-scrolling:touch;transition:all .3s;}
body{margin:0;background-color:#dcdcb7;}
h1,h2,h3,h4,h5,h6,p,ul{margin:0;padding:0;}
ul,li,ol{list-style: none;}
#app{box-sizing:border-box;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;text-align:center;font-size:16px;font-family:Arial;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;padding-top:10px;}

#app .increase{color:brown;font-weight: bold;margin-right: 20px;display: block;line-height: 10rem;}
#app .btn.increase-btn{margin-right:10px;}

#root .navbar-nav{height: 4.2rem;background-color:#0e4ea9;position:fixed;top:0;}
#root .navbar-nav > li >a{color:#fff;}
#root .navbar-nav > li >a:hover{background-color:#155abb;color:#fff;}
#root .navbar-nav > li >a.active,#root .navbar-nav > li >a:focus{background-color:#19a1ec;color:#fff;outline: none;}
#root .btn{outline: none;margin: 0 10px;}
.search-input{width: 50% !important;margin: 0 auto;margin-bottom: 20px;}
.sub-btns{padding: 10px 0;}

.navbar-nav .nav-hide{display: none;}
.navbar-nav ul{list-style:none;margin:0;padding:0;}
.menu{height:30px;line-height:30px;z-index: 2000;}
.menu li li{float:left;position:relative;border-right:1px solid #5c8cd0;border-bottom:1px solid #5c8cd0;background-color:#5c8cd0;color:#fff;font-size: 1.2rem;}
.menu li li:hover{border-right:1px solid #666;color:#fff;background-color:#155abb;}
.navbar-nav > li{border: none;}
.menu li a{display:block;padding:0 20px;text-decoration:none;color:#fff;}
.menu li a:hover{color:#fff !important;background-color:#155abb !important;}
.navbar-nav > li > a:hover{color:#fff !important}
.menu li a.more{color:red;}
.menu li ul{position:absolute;float:left;}
.menu li ul a{min-width: 120px; white-space: nowrap;}
.menu li ul ul{top:0;left:100%;}
.menu li a .icon-angle{background: url(../images/angle.png) no-repeat left center;background-position: -13px -5px;display: inline-block;width: 10px;height: 13px;position: absolute;right: 12px;margin-top: 7px;}
/*form css*/
.form-zone{padding:10px;padding: 1rem;border: 1px solid #e3e3e3;background-color: #fff;margin-bottom: 15px;overflow: auto;}
.form-li{width:19%;margin-left: 1%;padding: 0.5rem 0;float:left;}
.form-span{width:40%;font-size: 14px;line-height: 30px;color:#666;text-align: right; display: inline-block;float:left;}
.form-div{width:60%;float: left;}
.form-elements{width:46.5% !important;float: left;color:#666;}
.form-elements-between{width: 7%;line-height: 3rem;color:#666;display: inline-block;text-align:center;float: left;}
.form-li-long{width:39%;margin-left: 1%;padding: 0.5rem 0;float:left;}
.form-span-long{width:19.5%;font-size: 14px;line-height: 30px;color:#666;text-align: right; display: inline-block;float:left;}
.form-div-long{width:80.5%;float: left;}
.form-elements-long{width:45% !important;float: left;color:#666;}
.form-elements-between-long{width: 10%;line-height: 3rem;color:#666;display: inline-block;text-align:center;float: left;}
.form-btn{padding: 0.5rem 0;text-align: center;}
.form-zone .margin10{margin-left:10px;}
/*form css end*/
.header .logo{background:url('../images/logo.png') no-repeat;background-position: center;background-size: 100% auto;height: 64px;min-width: 190px;max-width:200px;float: left;}
.ant-layout-header,.headerMenu{padding:0!important;}.ant-layout-header,.headerMenu{padding:0!important;background-color: #373d41 !important;}
.diy-dark{background-color:#333744 !important;}
.ant-menu-dark .ant-menu-item, .ant-menu-dark .ant-menu-item-group-title, .ant-menu-dark .ant-menu-item > a{color:#fff !important;}
.ant-menu-dark,.ant-menu-dark .ant-menu-sub {color:#fff !important;background-color:#373d41 !important;}
.ant-menu-dark .ant-menu-sub{background-color:#373d41 !important;}
.ant-menu-inline .ant-menu-submenu-title{background-color: #42485B !important;}
.ant-menu-dark.ant-menu-inline .ant-menu-item-selected,.ant-menu-inline .ant-menu-submenu-title:hover{background-color: #00c1de !important;}
.ant-menu-dark .ant-menu-item:hover{background-color: #4a5064 !important;}
.form-component .icp-selector {
  width: 60px ;
}